
<div class="leafletPanel"
    style="height: 100vh;" 
    leaflet 
    [leafletOptions]="options"
    [leafletLayers]="layers"
    [(leafletCenter)]="leafletCenter"
    [(leafletZoom)]="leafletZoom">
</div>

<div class="searchPanel">
    <div class="search-header">
        <h2>Объекты</h2>
    </div>
    <div class="search-body">
        <div class="search-input">
            <input type="string" [(ngModel)]="searchStr" placeholder="Поиск" (keyup)="searchHandler()" />
        </div>
        <div class="search-body-item" *ngFor="let marker of viewedMarkers" (click)="selectMarker(marker)">
            {{ marker.name }} <ng-container *ngIf="marker === selectedMarkerRef">&#10003;</ng-container>
        </div>
    </div>
</div>
